<div class = "container"> 
  <h1 class = "h1"> Welcome to E-FARMING PORTAL </h1>
<form action = "" class = "form">

  <div class = "Register">
    <button (click) = "Register()"> Register </button>
  </div>
  
   <h2> LOGIN </h2> 
  
  <label for = "UserLogin"> Username </label> 
  <input type = "text" name = "UserLogin" id = "email" required/> 
  <legend> Password</legend> <input type = "password" required/>

  <div class = "Regis">
  <button (click)="onsubmit()"> Submit </button>
  </div>
  

</form>
</div>